{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "airbnb-base", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "class-methods-use-this": "off",
    "no-restricted-syntax": "off",
    "implicit-arrow-linebreak": "off",
    "import/extensions": "off"
  },
  "globals": {
    "render": "readonly",
    "simulate": "readonly",
    "getSlotContent": "readonly"
  }
}
